slibody 
{
    font-size:medium;
}
.meduim
{
    font-size:medium;
}
.small
{
    font-size:small;
}
.smaller
{
    font-size:smaller;
}
.larger
{
    font-size:large;
}
.largest
{
    font-size:larger;
}
