
.main_head {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
color: #FFFFFF;
margin-left: 30px; 
vertical-align:middle; }

.main_head_row2 {
background-image: url(../images/White_HeaderRow2.gif);
background-repeat: repeat-x;
height: 20px;
width: 100%;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: #101010;
padding-left:5px;
}



