<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <clear />
  <add name="ApplicationServices" connectionString="data source=WTCAANAND;Initial Catalog=RCA_New;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />
   <add name="ApplicationServices1" connectionString="data source=WTCAANAND;Initial Catalog=RCA_New;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />
  <add name="APPID" connectionString="data source=WTCAANAND;Initial Catalog=RCA_New;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />
  <add name="Local" connectionString="Data Source=WTCAANAND;Initial Catalog=RCA_New;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />

<!--<add name="ApplicationServices" connectionString="data source=DESKTOP-H963KUB;Initial Catalog=RCA_New;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />
   <add name="ApplicationServices1" connectionString="data source=DESKTOP-H963KUB;Initial Catalog=RCA_New;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />
  <add name="APPID" connectionString="data source=DESKTOP-H963KUB;Initial Catalog=RCA_New;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />
  <add name="Local" connectionString="Data Source=DESKTOP-H963KUB;Initial Catalog=RCA_New;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />-->
</connectionStrings>
